@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; /*sem a necessidade de  barra de rolagem horizontal*/
}

header {
    height: 100px;
    background-color: black;
    color: white;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.logoImg{
    
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul, .menu li{
    list-style: none;
}
.menu ul{
    display: flex;
    
}
.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid black;
}
.menu li a:hover, .menu .active a{
    border-bottom: 5px solid #b28756;
    color: gray;
}

.banner{
    height: calc(100vh - 100px);
    background-color: gray;
    background-image: url(../images/bg.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner .slideArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    margin-top: 20px;
    text-transform: uppercase;
}
.button{
    display: inline-block;
    background-color: #b28756;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;

}
.banner .sliders-pointers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #b28756;
    
}

section.default{
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title, 
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body{
    max-width: 1140px;
    margin: auto;
}

.default.light{
    background-color: #f7f7f7;
}

.default.light .section-title, 
.default.light .section-body{
    color: black;
}

.default.dark{
    background-color: black;
}

.default.dark .section-title,
.default.dark .section-body{
    color: white;
}

/* Section About Us*/

.section-body{
    display: flex;
    align-items: center;
}
.section-body .left{
    flex: 1;
    padding-right: 20px;
}

.section-body .left p{
    line-height: 25px;
    text-align: justify;
}
.section-body .right{
    display: flex;
    justify-content: center;
    width: 500px;
    margin-left: 10px;
}

.right img{
    min-width: 400px;
}

.center-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}


/* Section Services*/

.section-body .services{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 180px;
    padding: 15px;
    border-left: 1px solid gray;
}

.section-body .services:last-child{
    border-right: 1px solid gray;

}

.services .services-title{
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;

}

.services .services-desc{
    font-size: 12px;
    text-align: center;
    color: gray;
}


/* Section Projects*/

.section-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects-filters{
    border: 1px solid gray;
    background-color: rgb(228, 227, 227);
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    
}

.section-projects-filters ul{
   list-style: none;
}

.section-projects-filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    border-right: 1px solid gray;
 }
 
 .section-projects-filters li:last-child{
     border-right: none
    }
    
.section-projects-filters li:hover, .section-projects-filters li.active{
    border-bottom: 3px solid #b28756;
    color: gray;
}


.section-projects-photos{
    width: 100vw;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.section-projects-photo{
    width: 280px;
}

.photo-area{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.photo-area img{
    width: inherit;
    height: inherit;
}

.photo-info{
    position: absolute;
    width: 260px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.photo-info h5{
    font-size: 18px;
    font-weight: 600;
}

.photo-area:hover .photo-info{
    display: flex;
}


/* Section Team*/

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

section.bg-team{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px 0px;
}

.section-team-area{
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team.sliders{
    width: 1000vw;
    height: 100%;
}
.section-team .slide{
    width: 270px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: white;
    margin-right: 20px;
}
.section-team .slideArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 30px;
}


.section-team .sliders-pointers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 30px;
}
.section-team .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team .pointer.active{
    background-color: #b28756;
    
}


.section-team-avatar{
    width: 150px;
}

.section-team-name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team-role{
    font-size: 14px;
    color: gray;
    margin-top: 5px;
}

.section-team-social{
    display: flex;
    margin-top: 20px;

}

.section-team-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 13px;
    margin-right: 10px;
}

.section-team-social a:hover{
    background-color: #b28756;
}



/* Section Clients*/

.section-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-client{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-client img{
    width: 150px
}

.section-client .client-name{
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-client .client-departament{
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}

.section-client .aspas{
    font-weight: 600;
    font-size: 45px;
    margin-top: 10px;
}

.section-client .client-relato{
    text-align: center;
    font-size: 13px;
    color: gray;
}

.section-clients .sliders-pointers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 30px;
}
.section-clients .pointer{
    width: 13px;
    height: 13px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-clients .pointer.active{
    background-color: #b28756;
    
}

.section-clients-logos{
    max-width: 880px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

/* Section Clients*/

.section-prices{
    display: flex;
    justify-content: center;
    max-width: 880px;
    margin: auto;
}

.section-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 340px;
    background-color: white;
    margin-right: 30px;
}

.section-price:last-child{
    margin-right: none;
}

.section-price p{
    color: gray;
    font-size: 12px;
}

.section-price h4{
    font-size: 18px;
}
.section-price .preco{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.section-price .mes{
    margin-bottom: 18px;
}

.section-price .button{
    background-color: black;
}

.section-price .button:hover{
    background-color: #b28756;
}
