@media (min-width:450px) and (max-width:800px){

    nav{
        position: absolute;
        top: 100px;
        right: 0px;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.7);
        width: 70vw;
        height: calc(100vh - 100px);
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li a {
        padding-left: 20px;
        height: 60px;
        font-size: 20px;
        
    }
    .menu li a:hover, .menu .active a{
        
        color: gray;
    }
}