@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; /*sem a necessidade de  barra de rolagem horizontal*/
}

header {
    height: 100px;
    background-color: black;
    color: white;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.logoImg{
    
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul, .menu li{
    list-style: none;
}
.menu ul{
    display: flex;
    
}
.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid black;
}
.menu li a:hover, .menu .active a{
    border-bottom: 5px solid #b28756;
    color: gray;
}

.banner{
    height: calc(100vh - 100px);
    background-color: gray;
    background-image: url(../images/bg.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner .slideArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    margin-top: 20px;
    text-transform: uppercase;
}
.button{
    display: inline-block;
    background-color: #b28756;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;

}
.banner .sliders-pointers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #b28756;
    
}

section.default{
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title, 
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body{
    max-width: 1140px;
    margin: auto;
}

.default.light{
    background-color: #f7f7f7;
}

.default.light .section-title, 
.default.light .section-body{
    color: black;
}

.default.dark{
    background-color: black;
}

.default.dark .section-title,
.default.dark .section-body{
    color: white;
}


.section-body{
    display: flex;
    align-items: center;
}
.section-body .left{
    flex: 1;
    padding-right: 20px;
}

.section-body .left p{
    line-height: 25px;
    text-align: justify;
}
.section-body .right{
    display: flex;
    justify-content: center;
    width: 500px;
}

.right img{
    min-width: 400px;
}

.center-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

